@charset "UTF-8";


.title-header {
    font-size: 4rem;
    text-align: center;
}

.info {
    margin: 0 auto;
    float: left;
    width: 100%;
    
}



@media screen and (min-width: 360px) {


    p.left {
        float:left;
        font-size: 1.2rem;
        padding-left: 5%;
        padding-bottom: 0%;
      }
    
    p.right {
        float:right;
        font-size: 1.2rem;
        padding-right: 5%;
      } 

    .ssk {
        max-width: 100%;
        margin: 0 auto;
        border-radius: 1.5rem;
        background-color: #EBF3FA;
    }
    
    .dr {
        width: 80%;
        margin: 0 auto;
        border-radius: 5rem;
        background-color: #F2EFEC;
    }
    
    .picture_nurse-1 {
        float: left;
        height: auto; 
        max-width: 5rem;
    }
    
    .info-text {
        float: left;
        width: 5rem;
        margin-left: 1rem;
        margin-top: 1rem;
        
    }
    
    
    .picture_nurse-2 {
        float: right;
        height: auto;
        max-width: 5rem;
    
        
    }
    

    .linje {
        visibility: hidden;
        height: 0;
    }
    
    .kvinnor-sjuksköterska-1 {
        text-align: center;
        max-width: auto;
        font-size: 1rem;
        margin-bottom: 0%;
    }
    
    .kvinnor-sjuksköterska-procent-1 {
        text-align: center;
        max-width: auto;
        font-size: 1.5rem;
        margin-bottom: 0%;
    }
    

    .kvinnor-sjuksköterska {
        max-width: 10rem;
        margin-top: 2%;
        margin-left:50%;
        font-size: 1.5rem;
    }
    
    .kvinnor-sjuksköterska-procent {
        max-width: 10rem;
        margin-left:50%;
        font-size: 2rem;
    }

   
    .picture_nurse_male-1 {
        float: left;
        height: auto; 
        max-width: 5rem;
    }
    
    .info-text-2 {
        float: none;
        position: absolute;
        width: 5rem;
        margin-left: 6rem;
        margin-top: 1rem;
        
    }
    
    
    .picture_nurse_male-2 {
        float: right;
        height: auto;
        max-width: 5rem;
        
    }

    .linje-2 {
        visibility: hidden;
        height: 0;
    }
    
    .män-sjuksköterska-1 {
        text-align: center;
        max-width: auto;
        font-size: 1rem;
        margin-bottom: 0%;
    }
    
    .män-sjuksköterska-procent-1 {
        text-align: center;
        max-width: auto;
        font-size: 1.5rem;
        margin-bottom: 0%;
    }
    

    .män-sjuksköterska {
        max-width: 10rem;
        margin-top: 2%;
        margin-left:50%;
        font-size: 1.5rem;
    }
    
    .män-sjuksköterska-procent {
        max-width: 10rem;
        margin-left:50%;
        font-size: 2rem;
    }
    
    .footer {
        margin: 0 auto;
        float: left;
    }
    
    }

@media screen and (min-width: 1280px) {

p.left {
    float:left;
    margin-left: 10%;
    font-size: 1.5rem;
    }
    
p.right {
    float:right;
    margin-right: 10%;
    font-size: 1.5rem;
     } 

.ssk {
    max-width: 80%;
    margin: 0 auto;
    border-radius: 5rem;
    background-color: #EBF3FA;
}

.dr {
    width: 80%;
    margin: 0 auto;
    border-radius: 5rem;
    background-color: #F2EFEC;
}

.picture_nurse-1 {
    float: left;
    height: auto; 
    max-width: 13rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.info-text {
    float: left;
    width: 20rem;
    margin-top: 5rem;
    
}


.picture_nurse-2 {
    float: right;
    height: auto;
    max-width: 15rem;
    margin-right: 2rem;

    
}

.info-2 {
    margin: 0 auto;
    margin-top: 1rem;
    float: left;
    position: relative;
    width: 100%;
    
}

.picture_nurse_male-1 {
    float: left;
    height: auto; 
    max-width: 8rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.info-text-2 {
    float: none;
    position: absolute;
    width: 20rem;
    margin-left: 32%;
    margin-top: 7rem;
    z-index: 1;
    
}

.picture_nurse_male-2 {
    float: right;
    height: auto;
    max-width: 10rem;
    margin-right: 3rem;
    
}


.linje {
    float: left;
    height: auto;
    visibility: visible;
    max-width: 20rem;
    margin-left: 0.5rem;
    
}

.kvinnor-sjuksköterska-2 {
    text-align: center;
    max-width: auto;
    margin-top: 10%;
    font-size: 2rem;
}

.kvinnor-sjuksköterska-procent-2 {
    text-align: center;
    max-width: auto;
    font-size: 2.5rem;
}


.linje-2 {
    float: none;
    height: auto;
    visibility: visible;
    max-width: 30rem;
    margin-top: 2rem;
    
}

.kvinnor-sjuksköterska {
    max-width: 10rem;
    margin-top: 2%;
    margin-left:50%;
    font-size: 1.5rem;
}

.kvinnor-sjuksköterska-procent {
    max-width: 10rem;
    margin-left:50%;
    font-size: 2rem;
}

.footer {
    margin: 0 auto;
    float: left;
}

.picture_dr-1 {
    float: left;
    height: auto; 
    max-width: 15rem;
    margin-left: 2rem;
}


.picture_dr-2 {
    float: right;
    height: auto;
    width: 17.4rem;
    margin-right: 2rem;

    
}


.picture_dr_male-1 {
    float: left;
    height: auto; 
    max-width: 8rem;
    margin-left: 9rem;
}


.picture_dr_male-2 {
    float: none;
    height: auto;
    width: 9.8rem;
    margin-right: 3rem;
    
}

}