
.background {
    background-color: #f6f6f6;
}

/* Vit divider */

.custom-shape-divider-top-1684869091 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1684869091 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 68px;
    margin-bottom: 5%;
}

.custom-shape-divider-top-1684869091 .shape-fill {
    fill: #FFFFFF;
}


.info {
    margin: 0 auto;
    float: left;
    width: 100%;
    
}


.title-header {
    font-size: 4rem;
    text-align: center;
    }

/* Blå divider */

.group-divider {
    position: absolute;
    float: none;
    z-index: 0;
    width: 80rem;
    height: auto;
    opacity: 0.3;
}


.custom-shape-divider-bottom-1684867678 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684867678 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1684867678 .shape-fill {
    fill: #0099cc;
}

.divider {
    background-color: #0099cc;
    height: 70rem;
}

.custom-shape-divider-top-1684868703 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1684868703 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 201px;
}

.custom-shape-divider-top-1684868703 .shape-fill {
    fill: #f6f6f6;
}


/* Grön divider */

.group-divider-2 {
    position: absolute;
    float: none;
    z-index: 0;
    width: 80rem;
    height: auto;
    margin-top: 155rem;
    opacity: 0.3;
}


.custom-shape-divider-bottom-1684867679 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684867679 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1684867679 .shape-fill {
    fill: #4bb492;
}

.divider-2 {
    background-color: #4bb492;
    height: 70rem;
}

.custom-shape-divider-top-1684868704 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1684868704 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 201px;
}

.custom-shape-divider-top-1684868704 .shape-fill {
    fill: #f6f6f6;
}


/* Cards */

.card-title {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.ssk {
    max-width: 80%;
    margin: 0 auto;
    border-radius: 5rem;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0, 0.5);
    padding-left: 5%;
    margin-top: 15%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;

}

.info-text {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.picture-nurse-1 {
    position: relative;
    float: none;
}

.antal-1 {
    position: absolute;
    float: right;
    z-index: 1;
    margin-top: 24%;
    margin-left: 40%;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.antal-2 {
    position: absolute;
    float: right;
    z-index: 1;
    margin-top: 5%;
    margin-left: 73%;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.procent-1 {
    position: absolute;
    float: right;
    z-index: 1;
    margin-top: 35%;
    margin-left: 65%;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.ar-2012 {
    float:left;
    position: absolute;
    margin-top: 0%;
    margin-left: 40%;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    }

.ar-2019 {
    position: absolute;
    float: none;
    z-index: 1;
    margin-top: 0%;
    margin-left: 75%;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
     } 

hr.dashed {
    margin-top: 10%;
    margin-bottom: 8%;
    border-top: 3px dashed #bbb;
}

/* Diagram */

