p.left {
    float:left;
    margin-left: 20%;
    font-size: 1.5rem;
  }

p.right {
    float:right;
    margin-right: 20%;
    font-size: 1.5rem;
  } 


.info {
    margin: 0 auto;
    float: left;
    width: 100%;
    
}

.ssk {
    width: 80%;
    margin: 0 auto;
    border-radius: 5rem;
    background-color: #EBF3FA;
}

.dr {
    width: 80%;
    margin: 0 auto;
    border-radius: 5rem;
    background-color: #F2EFEC;
}


.picture_nurse-1 {
    float: left;
    height: auto; 
    max-width: 15rem;
    margin-left: 2rem;
}

.info-text {
    float: left;
    width: 20rem;
    margin-left: 3rem;
    margin-top: 5rem;
    
}


.picture_nurse-2 {
    float: right;
    height: auto;
    width: 17.2rem;
    margin-right: 2rem;

    
}

.info-2 {
    margin: 0 auto;
    margin-top: 1rem;
    float: left;
    position: relative;
    width: 100%;
    
}

.picture_nurse_male-1 {
    float: left;
    height: auto; 
    max-width: 8rem;
    margin-left: 9rem;
}

.info-text-2 {
    float: none;
    position: absolute;
    width: 20rem;
    margin-left: 32%;
    margin-top: 4rem;
    z-index: 1;
    
}

.picture_nurse_male-2 {
    float: none;
    height: auto;
    width: 9.8rem;
    margin-right: rem;
    
}


.linje {
    float: left;
    height: auto;
    max-width: 25rem;
    margin-left: 0.5rem;
    
}

.kvinnor-sjuksköterska-2 {
    text-align: center;
    max-width: auto;
    margin-top: 10%;
    font-size: 2rem;
}

.kvinnor-sjuksköterska-procent-2 {
    text-align: center;
    max-width: auto;
    font-size: 2.5rem;
}


.linje-2 {
    float: none;
    height: auto;
    max-width: 25rem;
    margin-left: 0.5rem;
    margin-bottom: 9rem;
    
}

.kvinnor-sjuksköterska {
    max-width: 10rem;
    margin-top: 2%;
    margin-left:50%;
    font-size: 1.5rem;
}

.kvinnor-sjuksköterska-procent {
    max-width: 10rem;
    margin-left:50%;
    font-size: 2rem;
}

.footer {
    margin: 0 auto;
    float: left;
}

.picture_dr-1 {
    float: left;
    height: auto; 
    max-width: 15rem;
    margin-left: 2rem;
}


.picture_dr-2 {
    float: right;
    height: auto;
    width: 17.4rem;
    margin-right: 2rem;

    
}



.picture_dr_male-1 {
    float: left;
    height: auto; 
    max-width: 8rem;
    margin-left: 9rem;
}


.picture_dr_male-2 {
    float: none;
    height: auto;
    width: 9.8rem;
    margin-right: rem;
    
}